
.sendPostForm {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    margin: 20px;
}

.textArea {
    width: 500px;
    height: 45px;
    border-radius: 7px;
    border-color: black;
background-color: rgba(255, 255, 255, 0.74);
    margin-right: 15px;
}

.addPost {
    border-radius: 6px;
    height: 30px;
    width: 100px;
    align-self: center;
    margin-left: 10px;
    background-color: #050b40;
    text-transform: uppercase;
    color: white;
    -moz-box-shadow: 0 0 2px #000;
    -webkit-box-shadow: 0 0 2px #000;
    box-shadow: 0 0 2px #000;
    border-style: groove;
    border-color: black;
    border-width: 1px;
    font-family: serif;
}

button:active, button:focus {
    outline: none !important;
}

button::-moz-focus-inner {
    border: 0 !important;

}

@media (max-width:850px){
    .textArea {
        width:300px;
    }
    .addPost{
        width:20%;
        height:32px;
    }

    }

@media (max-width:400px){
    .textArea {
        width:200px;
    }
}