.sidebar {
    display: flex;
    background-color: rgba(92, 31, 247, 0.03);
    flex-direction: column;
    border-radius: 5px;
    height: 290px;
    margin-top: 70px;
    width: 209px;
    margin-right:20px;
    z-index:1;


}
.sidebar__item{
margin-top: 6px;
    border-style: groove;
    text-align: center;
    border-color: rgba(27, 29, 138, 0.43);
    background-color: rgba(236, 235, 255, 0);
    border-radius: 3px;
    border-width: 0.1px;
    padding: 6px;
    color: #2e0036;
}
.navItem{
    text-decoration: none;
}
.sidebar__item:last-child{
    margin-top: 50px;
}

.sidebar__item:hover{
    background-color: rgba(33, 15, 144, 0.43);
    color: lavender;
}
.active{
    color: #001a60;
    font-size: 20px;
}
.icons{
    display: none;
    width: 50px;
}

@media (max-width:1300px){
    .sidebar{
        position:fixed;
        left:0;
        bottom:0;
        width:100%;
        display: flex;
        flex-direction: row;
        height:60px;
        justify-content: space-around;
        background-color:#f9fbff;
}
    .sidebar__item:last-child{
        margin-top: 6px;
    }
    .sidebar__item{
    padding:0;
    }
.icons{
    display:inline-block;
}
    .words{
display:none;
    }
}
