.header {
    grid-area: header;
    background-color: #050b40;
    border-radius: 6px;
    display: flex;
    justify-content:space-between;
    flex-direction: row;
    align-content: center;
   position:fixed;
    width: 1300px;
    height: 55px;
}
.s{
    background-color: #050b40;
    border-radius: 6px;
    display: flex;
    justify-content:left;
    flex-direction: row;
    align-content: center;
}
.header__logo {
    height: 60px;
    margin-left: 20px;

}
.name{
margin-top:10px;
    color: #e6e6fa;
    font-family: serif;
    font-size: 18px;

}
