.main {
    display: grid;
    width: 1250px;
    margin: 0 auto;
    grid-template-areas: "header header header" "nav content content";
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 10px;
    min-height: 985px;


}

.bg {
    background-repeat: no-repeat;
    background-color: #fbfdff;
    background-size: cover;
    background-attachment: fixed;

}

.main__content {
    grid-area: content;
    background-color: rgba(230, 230, 250, 0.4);
    border-radius: 3px;
    height: 100%;
}