.post{
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin: 20px;
   padding-left: 60px;
}
.img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.text{
    font-size: 14px;
    flex-wrap: wrap;
    padding: 20px;
    width: 800px;
}
.likeImg{
    width: 23px;
    opacity: 0.5;
    margin-left: 4px;

}
.like{
    color: #370049;
   font-size: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;

}

@media (max-width:850px){
    .text{
        width:100px;
        padding-right:0;
    }
    .post{
        padding-left:30px;
    }
    }